# don't search for lombok.config in subdirectories
config.stopBubbling = true

# make lombok keep names of constructor parameters (for jackson)
# https://stackoverflow.com/questions/49999492/immutable-lombok-annotated-class-with-jackson
lombok.anyConstructor.addConstructorProperties = true

lombok.equalsandhashcode.callsuper = call
lombok.tostring.callsuper = call
lombok.log.fieldname = log

# to exclude lombok generated code from Jacoco reports
# stackoverflow.com/questions/65412697/addlombokgeneratedannotation-on-lombok-config-doesnt-ignore-lombok-annotations
lombok.addLombokGeneratedAnnotation = true
